/* main parallax properties start */
.parallax-main{
    width: 100%;
    position: relative;
    min-height: 315px;
    display: flex;
    align-items: center;
    justify-content: center;
    .parallax-item{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: $main-color;
        opacity: $low-opacity;
    }
    .container{
        position: relative;
        z-index:2;
    }
}
/* main parallax properties start */
/* page-head parallax start */
.parallax-page-head{
    min-height: 270px;
    .container{
        position: absolute !important;
        bottom: 50px;
    .description{
        text-align: center;
        h1{
        font-weight: 400;
        font-size: 2.25 * $font-size;
        line-height: $line-height * 2.875;
        letter-spacing: 1.4 * $letter-spacing;
        color: $color-white;
        position: relative;
        &::after{
            content: '';
            position: absolute;
            bottom: 0px;
            left: 0px;
            right: 0px;
            margin: auto;
            width: 19px;
            height: 2px;
            background: $color-white;
        }
        }
        p{
            font-weight: 400;
            font-size: $font-size * 0.875;
            color: $color-light-p;
            line-height: $line-height *1.875;
            margin-top: 8px;
            a{
                color: $color-white;
                text-decoration: none;
            }
            i{
                margin: 0 10px;
            }
        }
    }
}
}
/* page-head parallax ends */
/* statistics parallax starts */
#parallax-statistic{
    padding: 60px 0;
    .container{
        .count{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            transition: $main-transition;
            padding: 20px 0;
            .details{
                position: relative;
                z-index: 4;
                color: $color-white;
                text-align: center;
                h1{
                    font-size: $font-size* 2.5;
                    font-weight: 400;
                }
                p{
                    font-size: $font-size * 1.25;
                    font-weight: 400;
                    letter-spacing:  $letter-spacing * 0.86;
                }
            }
            &:hover{
                transform: translateY(-7px);
            }
        }
}
}
/* statistics parallax ends */