//colors
$main-color: #585CE9;
$main-color-dark: #4146e6;
$hover-blue-color: #0056b3;
$color-white: #FFF;
$color-light: #6F8BA4;
$color-light-black: #3B566E;
$color-body: #697BA2;
$color-light-gray: #f5f5f5;
$color-lightest-gray: #F7FAFD;
$color-light-p: #E5E9F7;
$color-not:  #CCDCEA;
$color-light-blue:#777BFF;

//sizes
$main-radius: 5px;
$line-height: 1rem;
$font-size: 1rem;
$font-weight: 600;
$letter-spacing: 1px;
$section-p-top: 100px;
$section-p-bottom: 70px;
//fonts
$main-font: 'Nunito Sans', sans-serif;
//shows
$main-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06);
$shadow-light: 0 2px 48px 0 rgba(0, 0, 0, 0.08);;
$main-transition: all .3s ease;
$transition-later: all .4s;
//properties
$low-opacity: 0.8;