/* body properties */
body {
  font-family: "Nunito Sans", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 1px;
  background-color: #FFF;
  color: #697BA2;
  line-height: 1.75rem;
}

/* common a tags */
a {
  text-decoration: none !important;
}

/* common parallaxes */
.parallax {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: -2;
  height: 100vh;
  background-position: center;
  background-size: cover;
}

/* common container properties */
.container {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

/* sections head title starts */
.head {
  padding-bottom: 18px;
  text-align: center;
}

.head-title {
  font-weight: 400;
  font-size: 1.75rem;
  color: #1E3056;
  line-height: 2.875rem;
  letter-spacing: 0.93px;
  margin-bottom: 20px;
}

.head-title span {
  color: #585CE9;
}

.desc {
  margin-bottom: 40px;
  font-weight: 400;
}

/* sections head title ends */
/* common sections' top padding */
.section-top {
  padding-top: 100px;
}

/* common sections' bottom padding */
.section-bottom {
  padding-bottom: 70px;
}

/* when screen is medium */
@media screen and (max-width: 995px) {
  .mobile-bottom {
    margin-bottom: 30px;
  }
  header {
    background-color: #FFF !important;
    -webkit-transition: none !important;
    transition: none !important;
    -webkit-box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06) !important;
            box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06) !important;
  }
  header .collapse {
    background-color: #FFF;
  }
  header .collapse ul {
    margin-top: 20px;
    -webkit-transition: none !important;
    transition: none !important;
    margin-left: 0 !important;
  }
  header .collapse ul li {
    -webkit-transition: none !important;
    transition: none !important;
    border-bottom: 1px solid #f5f5f5;
    line-height: 3.125rem;
  }
  header .collapse ul li a:hover {
    background-color: #f5f5f5;
  }
  header .collapse ul .dropdown .dropdown-menu {
    opacity: 1 !important;
    visibility: visible !important;
    -webkit-transform: translateY(0) !important;
            transform: translateY(0) !important;
    display: none !important;
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
  }
  header .collapse ul .dropdown .dropdown-menu.show {
    display: block !important;
    margin: 0 !important;
    width: 100%;
  }
  header .collapse ul .dropdown .dropdown-menu.show a {
    width: 100%;
    font-size: 0.875rem;
    border-bottom: 1px solid #f5f5f5;
    line-height: 3rem;
    padding-left: 50px !important;
  }
  header .collapse ul .dropdown .dropdown-menu.show a:hover {
    background-color: #f5f5f5;
  }
  header .collapse ul .dropdown .dropdown-menu.show a:hover::before {
    width: 0;
  }
  header .collapse form {
    -webkit-transition: none !important;
    transition: none !important;
  }
  .responsive-center {
    text-align: center;
  }
  .mission-main .image-mission {
    position: static !important;
    width: 100% !important;
    margin-bottom: 30px;
    height: 300px !important;
  }
  .mission-main .text-mission {
    position: static !important;
    width: 100% !important;
    -webkit-transform: translateY(0%) !important;
            transform: translateY(0%) !important;
    margin-bottom: 30px;
  }
}

/* common main's margin from header */
.margin-from-header {
  margin-top: 80px;
}

/* footer starts */
footer {
  padding-top: 70px;
  background-color: #585CE9;
  color: #FFF;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.625rem;
  letter-spacing: 0.88px;
  letter-spacing: 0.88px;
}

footer p {
  margin-bottom: 5px !important;
}

footer .container .content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer .container .content .footer-part {
  margin-bottom: 30px;
  color: #E5E9F7;
}

footer .container .content .footer-part h5 {
  font-weight: 400;
  font-size: 1rem;
  color: #FFF;
  letter-spacing: 0.69px;
  line-height: 1.875rem;
  margin-bottom: 30px !important;
}

footer .container .content .footer-part ul {
  padding: 0 !important;
  list-style-type: none;
  margin: 0 !important;
}

footer .container .content .footer-part ul li a {
  color: #FFF;
  text-decoration: none;
  line-height: 2rem;
  font-weight: 400;
  color: #E5E9F7;
}

footer .container .content .footer-part ul li a i {
  margin-right: 12px;
}

footer .container .content .footer-part ul li a span {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

footer .container .content .footer-part ul li a:hover span {
  padding-left: 5px;
}

footer .container .content .part-1 img {
  margin-bottom: 30px;
}

footer .container .content .part-4 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .container .copyright {
  width: 100%;
  text-align: center;
  border-top: 1px solid #777BFF;
  padding: 30px 0;
}

/* footer ends */
/* header starts */
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  height: 80px;
  background: transparent;
  z-index: 9999;
}

header nav {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
  z-index: 9999;
  width: 100%;
}

header nav .navbar-toggler {
  border: none;
  background: transparent !important;
  outline: 0;
}

header nav .navbar-toggler .icon-bar {
  width: 22px;
  height: 2px;
  background-color: black;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

header nav .navbar-toggler .top-bar {
  margin-bottom: 4px;
}

header nav .navbar-toggler .middle-bar {
  width: 32px;
}

header nav .navbar-toggler .bottom-bar {
  margin-top: 4px;
}

header nav .navbar-toggler.coll .icon-bar {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

header nav .navbar-toggler.coll .top-bar {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transform-origin: 10% 10%;
          transform-origin: 10% 10%;
}

header nav .navbar-toggler.coll .middle-bar {
  opacity: 0;
}

header nav .navbar-toggler.coll .bottom-bar {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transform-origin: 10% 90%;
          transform-origin: 10% 90%;
}

header nav .collapse {
  /* menu starts */
  /* menu ends */
}

header nav .collapse ul {
  margin-left: 60px;
}

header nav .collapse ul li a {
  color: #3B566E !important;
  font-size: 0.875rem;
  font-weight: 600;
  padding: 0 15px !important;
}

header nav .collapse ul li a:hover {
  color: #3B566E !important;
}

header nav .collapse ul .dropdown .dropdown-toggle {
  position: relative;
}

header nav .collapse ul .dropdown .dropdown-toggle::after {
  position: absolute;
  content: "";
  top: 50%;
  right: 5%;
}

header nav .collapse ul .dropdown .dropdown-menu {
  margin-left: 15px;
  width: 200px;
  padding: 0;
  margin-top: 0;
  border: none;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06);
          box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  display: block;
  visibility: hidden;
  opacity: 0;
  -webkit-transform: translateY(-2em);
          transform: translateY(-2em);
}

header nav .collapse ul .dropdown .dropdown-menu a {
  padding-left: 20px;
  line-height: 2.5rem;
  font-size: 0.8125rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: relative;
}

header nav .collapse ul .dropdown .dropdown-menu a::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  background-color: #585CE9;
  width: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

header nav .collapse ul .dropdown .dropdown-menu a:hover::before {
  width: 3px;
}

header nav .collapse ul .dropdown .dropdown-menu a:hover {
  background-color: #f5f5f5;
  padding-left: 25px !important;
}

header nav .collapse ul .dropdown:hover .dropdown-menu {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

header nav .collapse form button {
  line-height: 2rem;
  padding: 0 25px;
  margin-left: 15px;
  border: 1px solid #585CE9;
  width: auto !important;
  height: 32px;
}

header nav .collapse form .sign-in {
  background-color: transparent;
  color: #585CE9;
}

header nav .collapse form .sign-in:hover {
  color: #FFF;
  background-color: #585CE9;
}

header nav .collapse form .sign-up:hover {
  color: #585CE9;
  background-color: transparent;
}

/* header ends */
/* backcolor white header */
.white {
  -webkit-box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06) !important;
          box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06) !important;
  background-color: #FFF !important;
}

/* colored header */
.colorfull {
  background-color: #FFF;
}

/* welcome area properties start */
.welcome {
  background-color: #FFF;
  position: relative;
  padding-top: 50px;
  padding-bottom: 20px;
  height: 100%;
  width: 100%;
  background-position: top left;
  background-repeat: no-repeat;
}

.welcome #goals .container {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.welcome #goals .container .content {
  min-height: -webkit-min-content;
  min-height: -moz-min-content;
  min-height: min-content;
  margin-bottom: 70px;
}

.welcome #goals .container .content button {
  width: 170px !important;
}

.welcome #goals .container .image-area {
  margin-bottom: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 543px;
}

.welcome #goals .container .image-area .img-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  width: 49%;
  height: 100%;
}

.welcome #goals .container .image-area .img-row .image {
  overflow: hidden;
  border-radius: 5px;
}

.welcome #goals .container .image-area .img-row .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.welcome #goals .container .image-area .img-row .image:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.welcome #goals .container .image-area .row-1 .image-big {
  height: 332px;
}

.welcome #goals .container .image-area .row-1 .image-small {
  height: 200px;
  position: relative;
}

.welcome #goals .container .image-area .row-1 .image-small button {
  width: 60px;
  height: 60px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border: 1px solid #FFF;
  color: white;
}

.welcome #goals .container .image-area .row-2 .image-big {
  height: 281px;
  position: relative;
}

.welcome #goals .container .image-area .row-2 .image-big .detail {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #FFF;
}

.welcome #goals .container .image-area .row-2 .image-big .detail .content {
  font-weight: 400;
  padding: 0 15px;
}

.welcome #goals .container .image-area .row-2 .image-big .detail .content p {
  font-size: 1.125rem;
}

.welcome #goals .container .image-area .row-2 .image-big::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #585CE9;
  opacity: 0.8;
  z-index: 1;
}

.welcome #goals .container .image-area .row-2 .image-small {
  height: 251px;
}

/* welcome area properties end */
/* developmennt services section start */
#development-services {
  background-color: #FFF !important;
}

/* developmennt services section end */
/* parallax section starts */
#parallax {
  padding: 60px 0;
}

#parallax .container .count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  padding: 20px 0;
}

#parallax .container .count .details {
  position: relative;
  z-index: 4;
  color: #FFF;
  text-align: center;
}

#parallax .container .count .details h1 {
  font-size: 2.5rem;
  font-weight: 400;
}

#parallax .container .count .details p {
  font-size: 1.25rem;
  font-weight: 400;
  letter-spacing: 0.86px;
}

#parallax .container .count:hover {
  -webkit-transform: translateY(-7px);
          transform: translateY(-7px);
}

/* parallax section ends */
/* our team section starts */
#our-team {
  background-color: #FFF;
}

#our-team .container .content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#our-team .container .content .member .team-item {
  position: relative;
  -webkit-box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
          box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
  border-radius: 5px;
  margin-bottom: 55px;
}

#our-team .container .content .member .team-item .team-content {
  text-align: center;
}

#our-team .container .content .member .team-item .team-content .team-info {
  color: #FFF;
  padding-top: 10px;
  padding-bottom: 10px;
}

#our-team .container .content .member .team-item .team-content .team-info::after {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  position: absolute;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  height: 68px;
  background-color: #585CE9;
  z-index: 1;
}

#our-team .container .content .member .team-item .team-content .team-info h3 {
  position: relative;
  z-index: 2;
  font-size: 1rem;
  letter-spacing: 0.69px;
  margin-top: 5px;
  font-weight: 400;
  margin: 0;
}

#our-team .container .content .member .team-item .team-content .team-info p {
  position: relative;
  z-index: 2;
  font-size: 0.75rem;
  color: #E5E9F7;
  letter-spacing: 0.6px;
}

#our-team .container .content .member .team-item .team-content .team-contact {
  text-align: center;
  margin-top: 8px;
  margin-bottom: 13px;
  position: relative;
  z-index: 2;
}

#our-team .container .content .member .team-item .team-content .team-contact a {
  margin: 0 7px;
  text-decoration: none;
}

#our-team .container .content .member .team-item .team-content .team-contact a i {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

#our-team .container .content .member .team-item .team-content .team-description {
  padding-bottom: 1px;
}

#our-team .container .content .member .team-item .team-content .team-description p {
  margin-bottom: 60px !important;
  padding: 0 25px;
  font-weight: 400;
  font-size: 0.875rem;
  color: #6F8BA4;
  letter-spacing: 0.6px;
  line-height: 1.625rem;
}

#our-team .container .content .member .team-item .team-image {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  width: 96px;
  height: 96px;
  margin: auto;
  overflow: hidden;
  border-radius: 100%;
  border: 6px solid white;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -45px;
  -webkit-box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
          box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
}

#our-team .container .content .member .team-item:hover .team-info::after {
  height: 125px;
}

#our-team .container .content .member .team-item:hover .team-contact a i {
  color: #FFF;
}

#our-team .container .content .member .team-item:hover .team-image {
  bottom: -55px;
}

/* our team section ends */
/* pricing section starts */
#pricing {
  background-color: #F7FAFD;
}

#pricing .container .content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#pricing .container .content .plan .pricing-item {
  margin-bottom: 30px;
  overflow: hidden;
  background-color: #FFF;
  -webkit-box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
          box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
  text-align: center;
  border-radius: 5px;
}

#pricing .container .content .plan .pricing-item .pricing-header {
  height: 130px;
  border-bottom: 1px solid #F7FAFD;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#pricing .container .content .plan .pricing-item .pricing-header h3 {
  font-weight: 700;
  color: #3B566E;
  font-size: 1rem;
}

#pricing .container .content .plan .pricing-item .advanced {
  background-color: #585CE9;
}

#pricing .container .content .plan .pricing-item .advanced h3 {
  color: #FFF;
}

#pricing .container .content .plan .pricing-item .pricing-main {
  margin-bottom: 40px;
}

#pricing .container .content .plan .pricing-item .pricing-main .number {
  position: relative;
  width: 42px;
  height: 42px;
  background-color: #F7FAFD;
  line-height: 2.625rem;
  margin: auto;
  border-radius: 100%;
  margin-top: -20px;
}

#pricing .container .content .plan .pricing-item .pricing-main .price-parent {
  margin-top: 40px;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#pricing .container .content .plan .pricing-item .pricing-main .price-parent .dollar {
  font-size: 1.125rem;
  position: relative;
  top: -15px;
}

#pricing .container .content .plan .pricing-item .pricing-main .price-parent h1 {
  font-weight: 700;
  font-size: 2.125rem;
  color: #585CE9;
  letter-spacing: 1px 2.12;
}

#pricing .container .content .plan .pricing-item .pricing-main .price-parent .time {
  font-size: 0.875rem;
}

#pricing .container .content .plan .pricing-item .pricing-main .price-parent span {
  font-weight: 700;
  color: #585CE9;
  letter-spacing: 0.88px;
}

#pricing .container .content .plan .pricing-item .pricing-main ul {
  padding: 0 !important;
  list-style-type: none;
}

#pricing .container .content .plan .pricing-item .pricing-main ul li {
  color: #3B566E;
  font-weight: 400;
  font-size: 0.875rem;
  letter-spacing: 0.88px;
  margin-bottom: 5px;
}

#pricing .container .content .plan .pricing-item .pricing-main ul .not {
  text-decoration: line-through;
  color: #CCDCEA;
}

#pricing .container .content .plan .pricing-item .pricing-footer button {
  margin-bottom: 40px;
}

/* pricing section ends */
/* parallax contact section starts */
#parallax-contact {
  padding-top: 80px;
  padding-bottom: 80px;
  min-height: 215px;
}

#parallax-contact .container .info {
  color: #FFF;
  font-size: 1.375rem;
  text-align: center;
  position: relative;
  z-index: 3;
}

#parallax-contact .container .info p {
  margin-bottom: 40px;
}

#parallax-contact .container .info p span {
  text-decoration: underline;
}

#parallax-contact .container .info button {
  background-color: #FFF;
  color: #585CE9;
}

#parallax-contact .container .info button:hover {
  background-color: #F7FAFD;
}

/* parallax contact section ends */
/* latest blogs section starts */
#latest-blogs {
  background-color: #FFF;
}

#latest-blogs .container .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

#latest-blogs .container .content .blog-post .post {
  margin-bottom: 30px;
  text-align: center;
}

#latest-blogs .container .content .blog-post .post .image {
  height: 200px;
  overflow: hidden;
  border-radius: 5px;
  margin-bottom: 25px;
}

#latest-blogs .container .content .blog-post .post .image img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}

#latest-blogs .container .content .blog-post .post .details h3 {
  margin-bottom: 10px !important;
}

#latest-blogs .container .content .blog-post .post .details h3 a {
  font-weight: 400;
  font-size: 1rem;
  color: #3B566E;
  letter-spacing: 1px;
  line-height: 1.625rem;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#latest-blogs .container .content .blog-post .post .details h3 a:hover {
  color: #585CE9;
}

#latest-blogs .container .content .blog-post .post .details p {
  font-weight: 400;
  font-size: 0.875rem;
  color: #6F8BA4;
  letter-spacing: 0.88px;
  line-height: 1.625rem;
  margin-bottom: 15px;
}

#latest-blogs .container .content .blog-post .post .details button {
  width: 160px;
}

/* latest blogs section ends */
/* parallax 2nd image starts*/
.parallax-2nd {
  z-index: -3;
}

/* parallax 2nd image ends*/
/* services section at about page start */
#services-about {
  background-color: #f5f5f5;
}

/* services section at about page end */
/* mission sections main properties start */
.mission-main {
  background-color: #f5f5f5;
  padding-bottom: 100px;
}

.mission-main .container {
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mission-main .container .image-mission {
  height: 500px;
  overflow: hidden;
  width: 70%;
  position: relative;
  z-index: 1;
  border-radius: 5px;
}

.mission-main .container .image-mission .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.mission-main .container .image-mission:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.mission-main .container .text-mission {
  width: 40%;
  position: absolute;
  z-index: 2;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-radius: 5px;
  background-color: #FFF;
  -webkit-box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
          box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
  padding: 30px;
  padding-bottom: 10px;
}

.mission-main .container .text-mission h2 {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2.375rem;
  letter-spacing: 1.75px;
  color: #3B566E;
  margin-bottom: 20px;
}

.mission-main .container .text-mission p {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.625rem;
  margin-bottom: 20px;
}

/* mission sections main properties end */
/* vision section starts */
#vision .container .text-mission {
  left: 0 !important;
}

#vision .container .image-mission {
  margin-left: auto;
}

/* vision section ends */
/* faqs section starts */
#faqs {
  background-color: #FFF;
}

#faqs .container {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

#faqs .container .help .help-item h1 {
  font-weight: 400;
  font-size: 1.875rem;
  color: #585CE9;
  letter-spacing: 1.88px;
  margin-bottom: 20px;
}

#faqs .container .help .help-item p {
  font-weight: 400;
  color: #6F8BA4;
  margin-bottom: 28px;
}

#faqs .container .help .help-item button {
  margin-bottom: 40px;
}

#faqs .container .question .faq {
  background-color: #FFF;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
          box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
}

#faqs .container .question .faq .faq-item .faq-header {
  border-bottom: 1px solid #F7FAFD;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#faqs .container .question .faq .faq-item .faq-header h5 {
  width: 100%;
  text-align: left;
  padding: 20px 30px;
  font-weight: 400;
  font-size: 0.9375rem;
  letter-spacing: 1px;
  color: #3B566E;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
  margin: 0 !important;
}

#faqs .container .question .faq .faq-item .faq-header:hover {
  background-color: #F7FAFD;
  padding-left: 10px;
}

#faqs .container .question .faq .faq-item .faq-content {
  max-height: 0;
  -webkit-transition: max-height 0.3s ease;
  transition: max-height 0.3s ease;
  overflow: hidden;
}

#faqs .container .question .faq .faq-item .faq-content .content-wrap {
  padding: 30px;
  padding-left: 35px;
  padding-bottom: 16px;
  border-bottom: 1px solid #F7FAFD;
}

#faqs .container .question .faq .faq-item .faq-content .content-wrap p {
  font-weight: 400;
  font-size: 0.875rem;
  color: #6F8BA4;
  line-height: 1.75rem;
  letter-spacing: 0.88px;
}

#faqs .container .question .faq .faq-item .faq-content.show {
  -webkit-transition: max-height 0.3s ease;
  transition: max-height 0.3s ease;
  max-height: 220px;
}

/* faqs section ends */
/* blog-section start */
#blogs {
  background-color: #F7FAFD;
}

#blogs .container {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  /* blogs start */
  /* blogs end */
  /* blogs additions start */
  /* blogs additions end */
}

#blogs .container .blog-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#blogs .container .blog-area .blog {
  /* blog item start */
  /* blog item end */
}

#blogs .container .blog-area .blog .blog-item {
  margin-bottom: 30px;
  background-color: #FFF;
  border-radius: 5px;
  overflow: hidden;
  -webkit-box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06);
          box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06);
}

#blogs .container .blog-area .blog .blog-item .blog-image {
  position: relative;
  margin-bottom: 25px;
  height: 400px;
  overflow: hidden;
}

#blogs .container .blog-area .blog .blog-item .blog-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#blogs .container .blog-area .blog .blog-item .blog-image .date {
  position: absolute;
  z-index: 1;
  width: 100px;
  height: 30px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: #FFF;
}

#blogs .container .blog-area .blog .blog-item .blog-image .date strong {
  font-weight: 600;
  font-size: 0.875rem;
}

#blogs .container .blog-area .blog .blog-item .blog-image .date span {
  font-weight: 400;
  font-size: 0.875rem;
}

#blogs .container .blog-area .blog .blog-item .details .details-wrap {
  padding: 0 30px;
  text-align: center;
}

#blogs .container .blog-area .blog .blog-item .details .details-wrap ul {
  padding: 0 !important;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 5px !important;
}

#blogs .container .blog-area .blog .blog-item .details .details-wrap ul li {
  margin-right: 15px;
  margin-left: 15px;
  line-height: 1.875rem;
}

#blogs .container .blog-area .blog .blog-item .details .details-wrap ul li a {
  text-decoration: none;
  color: #585CE9;
  font-size: 0.875rem;
}

#blogs .container .blog-area .blog .blog-item .details .details-wrap ul li a i {
  margin-right: 5px;
}

#blogs .container .blog-area .blog .blog-item .details .details-wrap a {
  font-weight: 400;
  font-size: 1rem;
  color: #3B566E;
  line-height: 1.625rem;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  text-decoration: none;
}

#blogs .container .blog-area .blog .blog-item .details .details-wrap p {
  margin-bottom: 15px;
  margin-top: 10px;
  font-weight: 400;
  font-size: 0.875rem;
  color: #6F8BA4;
  letter-spacing: 0.88px;
  line-height: 1.625rem;
}

#blogs .container .blog-area .blog .blog-item .details .details-wrap button {
  margin-bottom: 30px;
}

#blogs .container .blog-area .blog-small .blog-image {
  height: 200px !important;
}

#blogs .container .blog-area .nav {
  width: 100%;
  margin: 30px 0 !important;
  padding: 0 !important;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#blogs .container .blog-area .nav li {
  border: 1px solid #dee2e6;
  background-color: #FFF;
  margin-left: -1px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#blogs .container .blog-area .nav li a {
  display: block;
  text-decoration: none;
  padding: 8px 12px;
  line-height: 1.25rem;
  font-size: 0.875rem;
  color: #585CE9;
  font-weight: 400;
}

#blogs .container .blog-area .nav li:hover {
  background-color: #F4F8FB;
}

#blogs .container .blog-area .nav .arrow-left {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

#blogs .container .blog-area .nav .arrow-right {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

#blogs .container .additions .search {
  margin-bottom: 30px;
  height: 50px;
}

#blogs .container .additions .search form {
  position: relative;
  height: 100%;
}

#blogs .container .additions .search form input {
  height: 100%;
  border: 1px solid #FFF;
  width: 100%;
  -webkit-box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06);
          box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06);
  border-radius: 4px;
  padding-left: 20px;
  padding-right: 50px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#blogs .container .additions .search form input:focus {
  border: 1px solid #585CE9;
  padding-left: 30px;
}

#blogs .container .additions .search form button {
  position: absolute;
  right: 7px;
  top: 7.5px;
  height: 35px;
  width: 35px;
  background-color: #585CE9;
  border-radius: 4px;
  color: white;
  border: none;
}

#blogs .container .additions .collections ul {
  -webkit-box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06);
          box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06);
  border-radius: 5px;
  background-color: #FFF;
  padding: 0;
  width: 100%;
  margin-bottom: 30px;
  list-style-type: none;
}

#blogs .container .additions .collections ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  padding-left: 59px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  height: 50px;
  color: #3B566E;
  font-size: 0.875rem;
  letter-spacing: 0.88px;
  font-weight: 400;
  border-bottom: 1px solid #ECF7FF;
  transition: all 0.3s ease;
}

#blogs .container .additions .collections ul li a:hover {
  padding-left: 70px;
}

#blogs .container .additions .collections ul li a i {
  position: absolute;
  left: 30px;
  color: #3B566E;
}

#blogs .container .additions .collections ul li a span {
  float: right;
  margin-right: 30px;
  display: inline-block;
  background-color: #585CE9;
  height: 20px;
  line-height: 20px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 10px;
  color: #FFF;
  border-radius: 100px;
}

#blogs .container .additions .collections ul li:last-child a {
  border: none;
}

#blogs .container .additions .widget-tags .tags {
  background-color: #FFF;
  -webkit-box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06);
          box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06);
  border-radius: 4px;
  margin-bottom: 30px;
  padding: 30px;
  padding-bottom: 20px;
}

#blogs .container .additions .widget-tags .tags a {
  display: inline-block;
  margin-right: 6px;
  margin-bottom: 9px;
  background: #f5f5f5;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: 400;
  font-size: 0.875rem;
  color: #3B566E;
  border-radius: 4px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

#blogs .container .additions .widget-tags .tags a:hover {
  background-color: #585CE9;
  color: #FFF;
}

#blogs .container .additions .contact .contact-item {
  position: relative;
  height: 230px;
  overflow: hidden;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-position: center;
  background-size: cover;
}

#blogs .container .additions .contact .contact-item::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #585CE9;
  opacity: .85;
  z-index: 1;
}

#blogs .container .additions .contact .contact-item .content {
  position: relative;
  z-index: 2;
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
}

#blogs .container .additions .contact .contact-item .content p {
  color: #FFF;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.875rem;
  letter-spacing: 1.12px;
  margin-bottom: 30px;
}

#blogs .container .additions .contact .contact-item .content button {
  background-color: #FFF;
  color: #585CE9;
  height: 36px;
  line-height: 2.25rem;
}

#blogs .container .additions .contact .contact-item .content button:hover {
  background-color: #F7FAFD;
}

/* blog-section end */
/* main button properties start */
.main-button {
  background-color: #585CE9;
  border-radius: 5px;
  border: none;
  color: #FFF;
  line-height: 2.75rem;
  cursor: pointer;
  outline: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  font-size: 0.75rem;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  font-weight: 700;
  width: 160px;
  height: 44px;
}

.main-button:hover {
  background-color: #4146e6;
}

/* main button properties end */
/* main cloud sections' properties start */
.cloud-main {
  background-color: #F7FAFD;
}

.cloud-main .container {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  /* cloud services start */
  /* cloud services end */
}

.cloud-main .container .cloud-services .services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  /* service item starts */
  /* service item starts */
  /* active service item */
  /* active service item ends */
}

.cloud-main .container .cloud-services .services .service {
  margin-bottom: 30px;
}

.cloud-main .container .cloud-services .services .service a {
  -webkit-box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
          box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
  background-color: #FFF;
  text-decoration: none;
  display: block;
  position: relative;
  height: 40px;
  border-radius: 5px;
  overflow: hidden;
  z-index: 2;
}

.cloud-main .container .cloud-services .services .service a i {
  color: #3B566E;
  margin-left: 22px;
  margin-right: 32px;
  padding: 12px 0;
  position: relative;
  z-index: 3;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.cloud-main .container .cloud-services .services .service a span {
  color: #3B566E;
  font-size: 0.875rem;
  position: relative;
  z-index: 3;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.cloud-main .container .cloud-services .services .service a:after {
  position: absolute;
  content: "";
  top: 0;
  left: -70px;
  height: 100px;
  width: 150px;
  background-color: #F7FAFD;
  z-index: 1;
  -webkit-transform: rotate(60deg);
          transform: rotate(60deg);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.cloud-main .container .cloud-services .services .service a:hover::after {
  height: 150px;
  background-color: #585CE9;
}

.cloud-main .container .cloud-services .services .service a:hover i {
  margin-left: 25px;
  margin-right: 37px;
  color: #FFF;
}

.cloud-main .container .cloud-services .services .service.active a {
  -webkit-box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
          box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
  background-color: #FFF;
  text-decoration: none;
  display: block;
  position: relative;
  height: 40px;
  border-radius: 5px;
  overflow: hidden;
  z-index: 2;
}

.cloud-main .container .cloud-services .services .service.active a i {
  color: #FFF;
  margin-left: 25px;
  margin-right: 37px;
  padding: 12px 0;
  position: relative;
  z-index: 3;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.cloud-main .container .cloud-services .services .service.active a span {
  color: #3B566E;
  font-size: 0.875rem;
  position: relative;
  z-index: 3;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.cloud-main .container .cloud-services .services .service.active a:after {
  position: absolute;
  content: "";
  top: 0;
  left: -70px;
  height: 150px;
  width: 150px;
  background-color: #585CE9;
  z-index: 1;
  -webkit-transform: rotate(60deg);
          transform: rotate(60deg);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.cloud-main .container .image-area .image {
  text-align: center;
}

.cloud-main .container .image-area .image img {
  -o-object-fit: cover;
     object-fit: cover;
}

/* main cloud sections' properties end */
/* main parallax properties start */
.parallax-main {
  position: relative;
  min-height: 315px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.parallax-main .parallax-item {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #585CE9;
  opacity: 0.8;
}

.parallax-main .container {
  position: relative;
  z-index: 2;
}

/* main parallax properties start */
/* page-head parallax start */
.parallax-page-head {
  min-height: 270px;
}

.parallax-page-head .container {
  position: absolute !important;
  bottom: 50px;
}

.parallax-page-head .container .description {
  text-align: center;
}

.parallax-page-head .container .description h1 {
  font-weight: 400;
  font-size: 2.25rem;
  line-height: 2.875rem;
  letter-spacing: 1.4px;
  color: #FFF;
  height: 50px;
  position: relative;
}

.parallax-page-head .container .description h1::after {
  content: '';
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: auto;
  width: 19px;
  height: 2px;
  background: #FFF;
}

.parallax-page-head .container .description p {
  font-weight: 400;
  font-size: 0.875rem;
  color: #E5E9F7;
  line-height: 1.875rem;
  margin-top: 8px;
}

.parallax-page-head .container .description p a {
  color: #FFF;
  text-decoration: none;
}

.parallax-page-head .container .description p i {
  margin: 0 10px;
}

/* page-head parallax ends */
/* main services section properties start */
.services-main {
  background-color: #FFF;
}

.services-main .content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.services-main .content .service .details {
  padding: 30px;
  display: block;
  text-align: center;
  text-decoration: none;
  -webkit-box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
          box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
  border-radius: 5px;
  background-color: #FFF;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  margin-bottom: 30px;
}

.services-main .content .service .details .icon {
  width: 67px;
  height: 67px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 100%;
  background-color: #F7FAFD;
  margin: 0 auto;
  margin-bottom: 20px;
}

.services-main .content .service .details .icon i {
  color: #585CE9;
}

.services-main .content .service .details .features-title {
  margin-bottom: 15px;
  font-size: 1rem;
  color: #3B566E;
  letter-spacing: 0.7px;
}

.services-main .content .service .details .features-desc {
  font-weight: 400;
  font-size: 0.875rem;
  color: #6F8BA4;
  letter-spacing: 0.88px;
  line-height: 1.625rem;
  margin-bottom: 0 !important;
}

.services-main .content .service .details:hover {
  background-color: #585CE9;
}

.services-main .content .service .details:hover .icon {
  background-color: #FFF;
}

.services-main .content .service .details:hover .features-title {
  color: #FFF;
}

.services-main .content .service .details:hover .features-desc {
  color: #FFF;
}

/* main services section properties end */
/*# sourceMappingURL=main.css.map */